---
import BaseLayout from "./BaseLayout.astro";
import TagCloud from "../components/TagCloud.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>
    Written by {frontmatter.author}
    <br />
    Published on: {frontmatter.pubDate.slice(0, 10)}
    <br />
    <TagCloud tags={frontmatter.tags} />
  </p>
  <p><em>{frontmatter.description}</em></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout>
